@model Lab3.Models.Student
@{
    Layout = "_Layout";
    ViewData["Title"] = "Display Student Form";
}

<table>
    <tr>
        <td>First Name: </td>
        <td>@Model.firstName</td>
    </tr>
    <tr>
        <td>Last Name: </td>
        <td>@Model.lastName</td>
    </tr>
    <tr>
        <td>Student Id: </td>
        <td>@Model.studentId</td>
    </tr>
    <tr>
        <td>Email Address: </td>
        <td>@Model.emailAddress</td>
    </tr>
    <tr>
        <td>Description: </td>
        <td>@Model.studentDescription</td>
    </tr>
</table>
